html {
	overflow-y: scroll;
}

body {
	font-size: 12px;
	margin: 0px;
}

a img {
	border: none;
}

h1 {
	font-size: 1.6em;
	margin-top: 0;
}
.hidden {
	display: none !important;
}
.hiddenBorders {
	border: none !important;
	padding: 0px !important;
}
.hiddenBorders td {
	border: none !important;
	padding: 0px !important;
}
input[type=submit], input[type=button] {
	font-size: 11px;
	margin: 5px 5px 5px 0;
	cursor: pointer;
}

input[type=text], input[type=password], textarea {
	font-size: 12px;
	padding-left: 1px;
}

select {
	font-size: 13px;
}

.tableControl, .actionButtons {
	width: 100%;
}

.tableControl a {
	padding-left: 10px;
}

.tableControl {
	text-align: right;
}

.footer {
	text-align: center;
	font-size: 11px;
	margin-bottom: 10px;
}

.rich-table {
	width: 100%;
}

.body {
	padding: 30px;
}
.message {
	padding: 5px;
	list-style: none;
	border: 0;
	background: none;
	padding: 0;
	color: #000000;
	margin: 5px 0 8px 0;
	font-size: 12px;
}

.message li {
	background: no-repeat left center;
	padding-top: 1px;
	padding-left: 20px;
	margin-left: 3px;
}

.message li.infomsg {
	background-image: url(../img/msginfo.png);
}

.message li.errormsg {
	background-image: url(../img/msgerror.png);
}

.message li.warnmsg {
	background-image: url(../img/msgwarn.png);
}

.name {
	vertical-align: top;
	font-weight: bold;
	width: 115px;
	float: left;
	padding: 5px;
	margin-top: 3px;
	clear: left;
}

.value {
	float: left;
	padding: 5px;
}

.error {
	float: left;
	padding: 5px;
}

.errors {
	color: #FF0000;
	vertical-align: middle;
}

img.errors {
	padding-right: 5px;
}

.errors input, .errors textarea, .errors select {
	border: 1px solid red !important;
}

.required {
	color: #FF0000;
	padding-left: 2px;
}

.rich-stglpanel-body {
	overflow: auto;
} 

/* the specificity here is necessary to override the defaults */
/*
.rich-panel .rich-panel-header,
.rich-stglpanel .rich-stglpanel-header {
	padding: 2px 3px;
}*/

.rich-panel input[type=submit], .rich-panel input[type=button],
.rich-tabpanel input[type=submit], .rich-tabpanel input[type=button] {
	margin-bottom: 0;
}

.tableControl input[type=submit], .tableControl input[type=button], .tableControl select {
	margin: 5px 0 5px 5px;
}

/* I don't know why this is necessary, but the select is off by a pixel on the top and is padding too much on the left */
.tableControl select {
	margin-left: 2px;
	position: relative;
	top: 1px;
}

.actionButtons {
	padding-left: 1px;
}

.actionButtons select {
	margin: 5px 5px 5px 0;
	vertical-align: bottom;
}

.rich-toolbar-item a {
	text-decoration: none;
}

.rich-toolbar-item a:hover, .rich-ddmenu-label-select {
	text-decoration: underline;
}

.rich-toolbar-item .rich-menu-item a:hover {
	text-decoration: none;
}

.rich-datalist {
	list-style: square;
	margin: 6px 0 1px 0;
	padding-left: 18px;
}

.rich-list-item {
	padding-bottom: 4px;
}

div.info {
	font-size: 1.2em;
}

ul.bullets {
	list-style: square;
}

ul.bullets li {
	padding-bottom: 2px;
}

td.action {
	text-align: center;
	width: 8em;
	white-space: nowrap;
}

td.action a {
	padding-left: 1px;
	padding-right: 1px;
}

table.radio {
   border: 0;
}

table.radio td {
   padding: 0 2px;
}

table.radio input[type=radio] {
   vertical-align: bottom;
}

#menuLinks a {
	padding: 10px;
}

input[type=text],  input[type=password], textarea, select {
	width: 500px;
}
.rich-fileupload-list-decor {
	width: 503px !important;
}
.commit {
	margin-left: 105px !important;
}

label {
	font-weight: bold;
	display: block;
	text-align: right;
	width: 100px;
}
.clear {
	clear: both;
}
.executeButton{
	padding: 10px;
	float: right;
}

#block {
	position: absolute;
	float: left;
	text-align: center;
	width: 100%;
	height: 100%;
	z-index: 10000000;
	padding-top: 50px;
	color: white;
	font-size: 18px;
	text-shadow: 0px 2px 3px #555;
	font-weight: bold;	
	background: url(../img/bg_overlay.png);
}
.rich-mpnl-body {
	overflow: auto;
}
.rich-mpnl-body label {
	display: inline;
}
.rich-menu-item-icon {
	display: none;
}
.tableAnalysis, .tableAnalysis td, .tableAnalysis tr {
	padding: 5px;	
}

.refNodeTitle {
	font-size: 18px;
	padding: 5px;
	font-weight: normal !important;
}
.attrNodeTitle {
	display: table-cell;
  	vertical-align: middle;
	font-size: 14px;
	padding: 0px 5px;
	width: 100%;
}
.attrNodeTitleField {
	width: 500px !important;
	white-space: normal;
	float: left;
	margin-top: 5px;
}
.attrNodeTitleContent {
	display: table;
	width: 150px;
	height: 50px;
	background: #f0f0f0;
	vertical-align: middle;
	float: left;
	margin-top: 5px;
}
.attrNodeContent {
	width: 500px;
	height: 50px;
	background: #ddd;
	vertical-align: middle;
	display: block;
	overflow: auto;
}
.rich-tree-node-selected, .rich-ddmenu-label-select, .rich-ddmenu-label-unselect {
	border: 0px !important;
	
}
.rich-ddmenu-label-select, .rich-ddmenu-label-unselect {
	padding: 10px 6px;
}
.rich-tree-node-text {
	padding: 10px 4px 1px 4px;
}
.refLink {
	float: left;
	padding-left: 10px;
	font-size: 13px;
}
.refButton {
	display: block;
	white-space: normal;
	float: left;
	background-color: #C9DBEA;
	/* border-color: #0090FF; */
	/* padding-left: 10px; */
	width: 90%;
	border: solid 1px #84929D;
	font-size: 13px !important;
	margin: 5px 0px 5px 0px !important;
}

.panelForm input[type=text], .panelForm input[type=password], .panelForm textarea, .panelForm select {
	width: 500px !important;
	height: 50px !important;
	background: none;
}

.panelForm a:visited {
	color: #0090FF;
}
.panelForm a:hover {
	color: #0090FF;
}
.panelForm a {
	color: #ACBECE;
}
.tooltipData {
    font-weight: bold;
}

.backNodePanel{
	width: 300px;
	display: block;
	float: left;
	margin-right: 20px;
}
.nodePanel{
	width: 700px;
	display: block;
	float: left;
}
.moreActions {
	font-size: 14px !important;
}
.backNodeAction {
	width: 300px;
	font-size: 18px !important;
	margin: 0px !important;
}
.refButtonLeft {
	float: left;
	width: 180px !important;
}
.refButtonRight {
	width: 90px !important;
	float: right;
}
.hint {
	display: inline-block;
	height: 100%;
	width: 20px;
	border: none;
	background: url(../img/hint.png) no-repeat center center;
}
.attrNodeTitleContent .hint {
	float: left;
}

#ajaxStatus {
	position: fixed;
	background: black;
	float: left;
	padding: 0;
	margin: -30px 0 0 -30px !important;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 99999999999;
	font-size: 20px;
	opacity: .5;
	padding-top: 80px;
}

.rich-tool-tip {
	width: 300px;
	text-align: justify;
}

.rich-tool-tip * {
  white-space: normal !important;
}